<header>
    <div class="contenedor_logo">
        <a href="/"><img src="/archivos_front/logo_codigo_pago.jpg" class="logo"></a>
        <h4 class="leyenda">Inicio</h4>
    </div>
    <img src="/archivos_front/front_codigo_pago.jpg" class="panel_codigo_pago">
</header>