<!DOCTYPE html>
<html lang="en">
    <%- include("./parciales/head.ejs") %>
    <body>
        <%- include("./parciales/header.ejs") %>
        <main>
            <div class="contenedor_tipo_formulario">
                <a href="/persona_humana" class="tipo_formulario">Persona humana</a>
                <a href="/persona_juridica" class="tipo_formulario">Persona jurídica</a>
            </div>
            <a href="/desencriptar">Desencriptar archivo</a>
        </main>
    </body>
</html>