<!DOCTYPE html>
<html lang="en">
    <%- include("./parciales/head.ejs") %>
    <body>
        <%- include("./parciales/header.ejs") %>
        <main>
            <h1 class="titulo_formulario">Formulario persona juridica</h1>
            <form action ="/persona_juridica" method="POST" enctype="multipart/form-data" class="formulario">
                <div class="contenedor_formulario">
                    <div class="inputs_1">
                        <div class="campos_formulario">
                            <label>Adjuntar formulario de persona jurídica (.pdf)</label>
                            <input type="file" name="formulario_juridica" accept=".pdf">
                        </div>
                        <div class="campos_formulario">
                            <label>Constancia AFIP (.pdf)</label>
                            <input type="file" name="afip" accept=".pdf">
                        </div>
                        <div class="campos_formulario">
                            <label>Certificado MiPyme (.pdf)</label>
                            <input type="file" name="mi_pyme" accept=".pdf">
                        </div>
                        <div class="campos_formulario">
                            <label>Estatuto social (.pdf)</label>
                            <input type="file" name="estatuto_social" accept=".pdf">
                        </div>
                        <div class="campos_formulario">
                            <label>última acta de asignación de autoridades (.pdf)</label>
                            <input type="file" name="acta_asignacion" accept=".pdf">
                        </div>
                        <div class="campos_formulario">
                            <label>Servicio público con domicilio del local (.jpeg/.jpg)</label>
                            <input type="file" name="servicio" accept=".jpeg, .jpg">
                        </div>
                    </div>
                    <div class="inputs_2">
                        <div class="campos_formulario">
                            <label>Foto del local (.jpeg/.jpg)</label>
                            <input type="file" name="foto_local" accept=".jpeg, .jpg">
                        </div>
                        <div class="campos_formulario">
                            <label>Foto del local 2 (.jpeg/.jpg)</label>
                            <input type="file" name="foto_local_2" accept=".jpeg, .jpg">
                        </div>
                        <div class="campos_formulario">
                            <label for="nosis">Nosis (.pdf)</label>
                            <input type="file" name="nosis" accept=".pdf" id="nosis">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_1">Opcional_1 (.pdf)</label>
                            <input type="file" name="opcional_1" accept=".pdf" id="opcional_1">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_2">Opcional_2 (.pdf)</label>
                            <input type="file" name="opcional_2" accept=".pdf" id="opcional_2">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_3">Opcional_3 (.pdf)</label>
                            <input type="file" name="opcional_3" accept=".pdf" id="opcional_3">
                        </div>
                        
                        <!-- inputs para png -->

                        <div class="campos_formulario">
                            <label for="imagen_extra_1">Imagen extra</label>
                            <input type="file" name="imagen_extra_1" id="imagen_extra_1">
                        </div>
                        <div class="campos_formulario">
                            <label for="imagen_extra_2">Imagen extra</label>
                            <input type="file" name="imagen_extra_2"  id="imagen_extra_2">
                        </div>
                        <div class="campos_formulario">
                            <label for="imagen_extra_3">Imagen extra</label>
                            <input type="file" name="imagen_extra_3" id="imagen_extra_3">
                        </div>

                        <!-- nuevos inputs -->
                        
                        <div class="campos_formulario">
                            <label for="opcional_4">Opcional_4 (.pdf)</label>
                            <input type="file" name="opcional_4" accept=".pdf" id="opcional_4">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_5">Opcional_5 (.pdf)</label>
                            <input type="file" name="opcional_5" accept=".pdf" id="opcional_5">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_6">Opcional_6 (.pdf)</label>
                            <input type="file" name="opcional_6" accept=".pdf" id="opcional_6">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_7">Opcional_7 (.pdf)</label>
                            <input type="file" name="opcional_7" accept=".pdf" id="opcional_7">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_8">Opcional_8 (.pdf)</label>
                            <input type="file" name="opcional_8" accept=".pdf" id="opcional_8">
                        </div>

                        <!-- 10 nuevos inputs -->

                        <div class="campos_formulario">
                            <label for="opcional_9">Opcional_9 (.pdf)</label>
                            <input type="file" name="opcional_9" accept=".pdf" id="opcional_9">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_10">Opcional_10 (.pdf)</label>
                            <input type="file" name="opcional_10" accept=".pdf" id="opcional_10">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_11">Opcional_11 (.pdf)</label>
                            <input type="file" name="opcional_11" accept=".pdf" id="opcional_11">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_12">Opcional_12 (.pdf)</label>
                            <input type="file" name="opcional_12" accept=".pdf" id="opcional_12">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_13">Opcional_13 (.pdf)</label>
                            <input type="file" name="opcional_13" accept=".pdf" id="opcional_13">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_14">Opcional_14 (.pdf)</label>
                            <input type="file" name="opcional_14" accept=".pdf" id="opcional_14">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_15">Opcional_15 (.pdf)</label>
                            <input type="file" name="opcional_15" accept=".pdf" id="opcional_15">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_16">Opcional_16 (.pdf)</label>
                            <input type="file" name="opcional_16" accept=".pdf" id="opcional_16">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_17">Opcional_17 (.pdf)</label>
                            <input type="file" name="opcional_17" accept=".pdf" id="opcional_17">
                        </div>
                        <div class="campos_formulario">
                            <label for="opcional_18">Opcional_18 (.pdf)</label>
                            <input type="file" name="opcional_18" accept=".pdf" id="opcional_18">
                        </div>
                    </div>
                </div>
                <div class="botones_formulario">
                    <button type="reset" class="boton_formulario">Cancelar</button>
                    <button type="submit" class="boton_formulario">Enviar</button>
                </div>
            </form>
        </main>
        <%- include("./parciales/footer.ejs") %>
    </body>
</html>